<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Login Page</title>
{% load staticfiles %}
<script type="text/javascript" 
        src="{% static "js/jquery-1.7.1.min.js" %}"></script>
<style>
    .input_moe {
        width: 80px;
    }
</style>
<script type="text/javascript">
    $(document).ready( function () { 
        $("#xz_fn").click( function () {
            alert('Button')
        });

        // $('#inputDatabaseName').on('input',function(e){
        //       alert('Changed!')
        // });
        //
        // function youFunction() {
        //       alert('Changed!')
        // }
    });
</script>
</head>
<body>
{% for post in posts %}
_________________________________________________________________
<h2>{{ post.title }}</h2>
<p>{{ post.timestamp }}</p>
<p>{{ post.body }}</p>
{% endfor %}
<input type="button" id="xz_fn" value="xz_b"/>
<br>
<input id="inputDatabaseName" onchange="youFunction();"
                              onkeyup="this.onchange();" onpaste="this.onchange();" oninput="this.onchange();"/>
</body>
</html>
